<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>

    <form method="POST" action="/register">
      {{ form.hidden_tag() }}
      <!-- CSRF token -->

      <label for="username">Username:</label><br />
      {{ form.username(size=30) }}<br />

      <label for="password">Password:</label><br />
      {{ form.password(size=30) }}<br />

      <label for="confirm-password">Confirm Password:</label><br />
      {{ form.confirm_password(size=30) }}<br />

      <button type="submit">Register</button>
      <p id="error_message" style="display: none; color: red">
        Too many registrations, please try again later.
      </p>
      {% if error_message %}
      <script>
        document.getElementById("error_message").style.display = "block";
      </script>
      {% endif %}
    </form>
  </body>
</html>
